<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            margin-right: 40px;
            width: 80px;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h3>About {{ ones.name }}</h3>
    <ul style='display: flex; flex-direction: row;'>
        <li>Name</li>
        <li>Age</li>
        <li>Status</li>
    </ul>
    <ul>
        <div style='display: flex; flex-direction: row;'>
        <li> {{ ones.name }} </li>
        <li> {{ ones.age }} </li>
        <li> {{ ones.status }} </li>
        </div>
    </ul>
        <p><a href={% url 'delete' ones.id %}>Удалить</a></p>
</body>
</html>